#header{
    overflow: auto;
}

#logo{
    width: 100px;
    height: 100px;
    float: left;
}

#quiz_menu{
    width: 200px;
}



.hide{
    display: none;
}

.err{
    color: red;
    clear: both;
}